pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/2d942f4c-f2ae-4bc5-aa52-63fec8f25329/resourcegroups/testSouceCentralUS/providers/Microsoft.Sql/servers/taroarai-sqldb/databases/testc?api-version=2018-06-01-preview",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "\"?token=\" + @{activity('web1').output.access_token}",
								"type": "Expression"
							},
							"requestTimeout": ""
						}
					},
					"sink": {
						"type": "DocumentDbCollectionSink",
						"nestingSeparator": ".",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DocumentDbCollection1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"authentication": {
			"type": "Basic",
			"pfx": "taroarai@microsoft.com",
			"password": "23gr;oeijgo45i"
		}
	}
}